*{
    margin: 0;
    padding: 0;
}

 *:before, *:after{
    box-sizing: border-box;
}

.header,.footer{
    background-color: #09527c;
    height:200px;
   
}

.header{
    background-image: url('../img/test.jpg');
    background-size: cover;
    background-position: center;
}

.header,.h3{
    
}
 
 
.main-wrapper{
     min-height: 700px;
}

.simple-img{
    width: 100%;
}

